body {
  font-family: "Arial";
}

.container {
  width: 1280px;
  margin: 0 auto;
  border: 3px solid black;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #445162;
  padding: 50px;
  box-sizing: border-box;
  color: #ffffff;
}

.header::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.header_content {
  width: 500px;
  float: left;
}

.header_title {
  margin: 0 0 51px 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
}

.header_list {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  list-style: none;
}

.header_list_item {
  padding: 0 0 0 35px;
  box-sizing: border-box;
  position: relative;
}

.header_list_item::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 19px;
  top: 8px;
  left: -30px;
  background-image: url("../img/header/header_item.png");
}

.header_img {
  display: block;
  float: right;
}

.about-product {
  width: 100%;
  padding: 49px;
  box-sizing: border-box;
}

.about-product::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.about-product_content {
  width: 685px;
  float: left;
}

.about-product_title {
  margin: 0 0 30px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.about-product_text {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.about-product_text:last-child {
  margin: 0;
}

.about-product_img {
  display: block;
  float: right;
  background-color: #445161;
}
